@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-family:Impact, Haettenschweiler, &#39;Arial Narrow Bold&#39;, sans-serif">BDFI</h1>
    <img style="width:25%;" src="../../Images/Anonymous.png">
    <p class="lead">Base de données de films sur internet</p>
</div>